body {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background: linear-gradient(
      28deg,
      rgba(0, 0, 0, 0.56) 0%,
      rgba(0, 0, 0, 0.41) 25%,
      rgba(0, 0, 0, 0.68) 50%,
      rgba(0, 0, 0, 1) 75%,
      rgba(0, 0, 0, 1) 100%
    )
    no-repeat center center fixed;
  background-size: cover;
  overflow-x: hidden;
}

.todo__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(0, 0%, 59%);
  color: white;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  transition: background-color 0.8s ease;
  -webkit-transition: background-color 0.8s ease;
  -moz-transition: background-color 0.8s ease;
  -ms-transition: background-color 0.8s ease;
  -o-transition: background-color 0.8s ease;
}

.todo__item:hover {
  background-color: hsl(0, 0%, 69%);
}

.todo__item span {
  flex-grow: 1;
  padding-right: 10px;
}

.button__Check,
.button__Remove {
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  padding: 5px;
  margin-left: 10px;
  border-radius: 5px;
}

.button__Check:hover {
  color: green;
}

.button__Remove:hover {
  color: red;
}

.todo__List {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
  font-size: 20px;
}

.todo__card {
  background-color: #f4f4f4;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 100px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.todo__Title {
  font-size: 48px;
  margin-top: 50px;
  margin-bottom: 20px;
}

input {
  padding: 12px;
  font-size: 16px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  box-sizing: border-box;
}

input:focus {
  border-color: #525252;
  outline: none;
}

/* Dropdown */
select {
  padding: 12px;
  font-size: 16px;
  width: 70%;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  background-color: white;
  color: #333;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

select:focus {
  border-color: #525252;
  outline: none;
}

option {
  color: #999;
}

button[type="submit"] {
  padding: 12px 20px;
  background-color: #666666;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
  margin-left: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 25%;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

.waste__space {
  position: fixed;
  bottom: 12%;
  right: 47%;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.worm {
  position: fixed;

  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 800px;
  z-index: -1;
  opacity: 0.8;
}

.todo__item.completed {
  background-color: rgba(0, 128, 0, 0.2);
  animation: floatOut 2.5s ease forwards;
  -webkit-animation: floatOut 2.5s ease forwards;
}

@keyframes floatOut {
  0% {
    transform: translateX(0) translateY(0);
    opacity: 1;
    filter: blur(0);
  }
  100% {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%) translateY(30%) rotate(360deg) scale(1.5);
    -webkit-transform: translateX(100%) translateY(30%) rotate(360deg)
      scale(1.5);
    -moz-transform: translateX(100%) translateY(30%) rotate(360deg) scale(1.5);
    -ms-transform: translateX(100%) translateY(30%) rotate(360deg) scale(1.5);
    -o-transform: translateX(100%) translateY(30%) rotate(360deg) scale(1.5);
  }
}

.buttom__remove:active {
  background-color: red;
  animation: Dropdown 2.5s ease forwards;
}

@keyframes Dropdown {
  0% {
    transform: translateY(0);
    opacity: 1;
    filter: blur(0);
    -webkit-filter: blur(0);
  }
  100% {
    opacity: 0;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    transform: translateY(1000px);
    -webkit-transform: translateY(1000px);
    -moz-transform: translateY(1000px);
    -ms-transform: translateY(1000px);
    -o-transform: translateY(1000px);
  }
}

@media screen and (max-width: 600px) {
  select {
    font-size: 16px;
    padding: 10px;
    width: 67%;
  }
}
